<h1>Active Airports</h1>

<table class="table">
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th>City</th>
		<th>State</th>
		<th>Longitude</th>
		<th>Latitude</th>
		<th>Elevation</th>
	</tr>
	<tr ng-repeat="port in activeAirports">
		<td>{{port.code}}</td>
		<td>{{port.name}}</td>
		<td>{{port.city}}</td>
		<td>{{port.state}}</td>
		<td>{{port.longitude}}</td>
		<td>{{port.latitude}}</td>
		<td>{{port.elevation}}</td>
		<td><button ng-click="acc.deleteFromActive(port.code)">Delete</button></td>
	</tr>
</table>

