<h1>Translate</h1>

<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
<span class="sr-only">Loading...</span>

<table class="table table-borderless">
	<tr>
		<td>Raw METAR</td>
		<td>{{metar.message}}</td>
	</tr>
	<tr>
		<td>Issued at</td>
		<td>{{metar.time}}</td>
	</tr>
	<tr>
		<td>ICAO</td>
		<td>{{metar.airport.icao}}</td>
	</tr>
	<tr>
		<td>City</td>
		<td>{{metar.airport.city}}</td>
	</tr>
	<tr>
		<td>State</td>
		<td>{{metar.airport.country.name}}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{metar.airport.name}}</td>
	</tr>
	<tr>
		<td>Elevation</td>
		<td>{{metar.airport.altitude}}</td>
	</tr>
	<tr>
		<td>Latitude</td>
		<td>{{metar.airport.latitude}}</td>
	</tr>
	<tr>
		<td>Longitude</td>
		<td>{{metar.airport.longitude}}</td>
	</tr>
</table>
<hr>
<table class="table table-borderless">
	<tr>
		<td>CAVOK</td>
		<td>{{metar.cavok}}</td>
	</tr>
	<tr>
		<td>NOSIG</td>
		<td>{{metar.nosig}}</td>
	</tr>
	<tr>
		<td>Wind</td>
		<td>
			<table>
				<tr ng-repeat="wind in winds">
					<td>{{wind}}</td>
				</tr>
			</table>
		</td>
	</tr>
		<tr>
		<td>Weather</td>
		<td>
			<table>
				<tr ng-repeat ="weather in weathers">
					<td>{{weather}}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Clouds</td>
		<td>
			<table>
				<tr ng-repeat="cloud in metar.clouds">
					<td>{{cloud.height}} {{cloud.quantity}} {{cloud.type}}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Visibility</td>
		<td>{{metar.visibility.mainVisibility}}</td>
	</tr>
	<tr>
		<td>Temperature</td>
		<td>{{metar.temperature}}</td>
	</tr>
	<tr>
		<td>Pressure </td>
		<td>{{metar.altimeter}} hPa</td>
	</tr>
	<tr>
		<td>Humidity</td>
		<td>{{humidity}} %</td>
	</tr>
</table>

<p>CAVOK: "Clouds and Visibility OK", a weather status report for pilots 
	when visibility is at least 10 kilometres, there are no clouds 
	below 5000 feet or minimum sector altitude (whichever is higher), 
	and there is no current or forecast significant weather such as precipitation.
</p>
<p>NOSIG: means that no significant change is expected to the reported conditions 
	within the next 2 hours.
</p>